name: SSH

on:
  push:
    branches:
      - master

jobs:
  ssh-vds:
    environment: vds
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.ref }}
      cancel-in-progress: true
    steps:
      - uses: appleboy/ssh-action@v1.2.2
        with:
          host: ${{ secrets.SSH_HOST }}
          port: ${{ secrets.SSH_PORT }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            set -x
            lsb_release -a
            cd ~/git/vdsina-prom-exporter
            git reset --hard
            git pull
            ~/.nvm/nvm-exec pnpm i
            systemctl restart vdsina-exporter.service
